<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block canonical %}{% endblock %}
    </head>
    <body>
    {% block content %}{% endblock %}
    </body>
</html>


